@font-face
{
  font-family: 'FontAwesome';
  src: url('../font-awesome-4.7.0/fonts/fontawesome-webfont.ttf');
}
body
{
  background-color: black;
}
#canvas
{
  background-color: black;
  display: block;
  /* margin: auto; */
}
.game{
  position: relative;
  /* top: 60px; */
  color: transparent;
  width: 800px;
  margin: auto;
  border: solid 1px darkgray;
}
.start, .pause, .gameover
{
  background-color: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
  width: 800px;
  height: 600px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  font-size: 40px;
  text-align: center;
  /* margin: auto; */
}
.gameover{
  background-color: rgba(0,0,0,0.5);
}
.pause
{
  background-color: rgba(0,0,0,0.8);
}
.ball
{
  background-color: yellow;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  margin: auto;
  position: relative;
  top: 35px;
}
.ball-score
{
  font-size: 15px;
  color: white;
  position: absolute;
  bottom: 170px;
  left: 395px;
}
.start h1, .pause h1, .gameover h1{
  font-weight: 200;
}
.start h2, .pause h2, .gameover h2{
  margin-top: 100px;
  font-size: 16px;
  font-weight: 200;
}
.gameover h1{
  margin-top: 200px;
  animation: 2s gameover infinite;
}
.pause i
{
  margin-top: 180px;
  font-size: 180px;
  color: yellow;
  animation: pause 5s infinite;
}
.pause h2
{
  margin-top: 100px;
  font-size: 16px;
  font-weight: 200;
}
.vs
{
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.score-panel
{
  color: white;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  text-align: right;
  margin-top: 80px;
  margin-bottom: 30px;
  margin-right: 310px;

}
.fa-trophy
{
  margin-left: 50px;
  font-family: 'FontAwesome';
}
.fa-star, .fa-trophy
{
  margin-right: 10px;
  font-family: 'FontAwesome';
}

@keyframes pause {
  0% {color: rgba(252, 252, 13, 0.3);}
  40% {color: rgba(252, 252, 13,0.9);}
  50% {color: rgba(252, 252, 13,0.9);}
  100% {color: rgba(252, 252, 13,0.3);}
}
@keyframes start {
  0% {color: rgba(255,255,255,0.3);}
  40% {color: rgba(255,255,255,0.6);}
  50% {color: rgba(255,255,255,0.6);}
  100% {color: rgba(255,255,255,0.3);}
}
@keyframes gameover {
  0% {color: rgba(255,255,255,0.3);}
  40% {color: rgba(255,255,255,0.6);}
  50% {color: rgba(255,255,255,0.6);}
  100% {color: rgba(255,255,255,0.3);}
}